

</body>

<footer style="font-size: 20px;">
  Todo List Created By Using <strong>EJS</strong>, <strong>Express</strong>, <strong>Mongoose</strong>, <strong>Body-Parser</strong> and <strong>Lodash</strong> 
</footer>

</html>
